.comparator {
    display: flex;
    gap: 20px;
}
.left, .right {
    width: 50%;
}
.comparator__month {
    position: relative;
    box-sizing: border-box;
    appearance: none;
    border: none;
    font: inherit;
    font-weight: bold;
    width: 100%;
    padding: 8px 10px;
    color: var(--text-secondary);
    background-color: var(--header-color);
} 
.comparator__month::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.comparator__body {
    box-sizing: border-box;
}