.comparator {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.left, .right {
    width: 100%;
}
.legend {
    font-weight: bold;
    padding: 0 10px;
}
.fieldset {
    margin-bottom: 20px;
    font-size: 1.2rem;
    border: 4px solid var(--border);
    padding: 15px;
}
.label {
    margin-right: 20px;
}
.comparator__month {
    position: relative;
    box-sizing: border-box;
    appearance: none;
    border: none;
    font: inherit;
    font-weight: bold;
    width: 100%;
    padding: 8px 10px;
    color: var(--text-secondary);
    background-color: var(--header-color);
} 
.comparator__month::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.comparator__body {
    box-sizing: border-box;
}

@media (min-width: 580px) {
    .comparator {
        flex-direction: row;
    }
    .left, .right {
        width: 50%;
    }
}