:root {
    --bg-color: #000;
    --bg-color-inverted: #fff;
    --accent-color: #bb86fc;
    --text-primary: #fff;
    --text-secondary: #fff;
    --border: #ccc;
    --success: #03dac6;
    --error: #b00020;
    --category-color: #3700b3;
    --header-color: #121212;
    --window-color: #121212;
    --window-color-light: #333;
    --button-text-color: #000;
    --button-color: #03dac6;
    --button-hover-color: #018786;
    --transaction-color: #121212;
    --indicator-color: #03dac6;
    --indicator-text-color: #000;
    
}