.account {
    box-shadow: 0 0 5px var(--border);
    border: 2px solid var(--border);
    padding: 20px 20px 40px;
    border-radius: 10px;
}
.heading {
    font-weight: bold;
    font-size: 2rem;
    margin: 20px 0;
}

.form__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--text-primary);
    cursor: pointer;
}
.label__span {
    width: 100%;
}
.input {
    width: 100%;
    flex-grow: 1;
    border: none;
    color: var(--text-primary);
    border-bottom: 2px solid var(--border);
    background-color: var(--window-color);
    padding: 10px 0;
    font-size: 1rem;
}
.input::placeholder {
    color: var(--border)
}
.input:focus {
    outline: none;
    border-bottom-color: var(--button-color);
}


@media (min-width: 500px) {
    .label {
        flex-direction: row;
    }
    .label__span {
        width: 20%;
    }
    .input {
        width: auto;
        margin-left: 20px;
    }
    .account {
        padding: 20px 50px 40px;
    }
}