@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Regular.woff2') format('woff2'),
        url('./fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Bold.woff2') format('woff2'),
        url('./fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato-Medium.woff2') format('woff2'),
        url('./fonts/Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html, body, div, span, 
h1, h2, h3, h4, h5, h6, p, 
a,  ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
}
body {
    background-color: var(--bg-color);
    color: var(--text-primary);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text-secondary);
}
.wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

button {
    color: inherit
}
button:hover {
    cursor: pointer;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }