.transaction {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 80px;
    margin: 10px 0;
    padding: 30px;
    border-radius: 0.5rem;
    background-color: var(--transaction-color);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.date {
    grid-area: 1 / 1 / 1 / 3;
    font-weight: 500;
    font-size: 1.125rem;
    width: 100%;
}
.category {
    grid-area: 1 / 3 / 1 / 4;
    justify-self: flex-end;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px;
    background: var(--category-color);
}
.from {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}
.sum {
    grid-area: 2 / 3 / 3 / 4;
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
}
.income {
    color: var(--success);
}
.expense {
    color: var(--error);
}
.icon {
    margin-right: 10px;
    font-size: 0.8em;
}
@media (min-width: 600px) {
    .transaction {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
        align-items: center;
    }
    .sum {
        grid-area: 2 / 3 / 3 / 4;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}